

body {
    background-color: orange;
    color:white;
    font-family: Arial, sans-serif;
}

    h1, h2, h3, p, a, span {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        font-family: Arial, sans-serif;
    }
   
   
section{
background-color: rgb(122, 83, 83)
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

header{
margin: 40px;
}
   
.chamada-texto{
    margin-left: 10px;

}